.container-m {
    margin-top: 4rem;
}

.leftside {
    text-align: left;
}

.carouselStyle {
    height: 100%;
    width: 100%;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}


.carousel .carousel-item{
    width: 100%;
  }

  .carousel .carousel-item .img{
    width: 100%;
  }
  
  .carousel .carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 100%;
}
